# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Project
database/raw_photos
database/ready_to_label
database/rr_labeled_photos

# Virtual environment
.venv/
.env/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Mac OS files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test/coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/

# Build artifacts
build/
dist/
*.egg-info/

# Logs
*.log

# Environment variables
.env
*.env

# Mypy
.mypy_cache/
.dmypy.json
.pyre/

# Pytest
.pytest_cache/
